@import "/src/scss/global/vars";
@import "/src/scss/global/mixin";

.card {
}

.imgBlock {
}

.img {
	width: 100%;
	height: 464px;
	box-shadow: 0 4px 16px 0 $blackShadow;

	@include breakpoints-max-width(lg) {
		height: 380px;
	}

	@include breakpoints-max-width(md) {
		height: 280px;
	}
}

.title {
	margin-top: 35px;
	font-size: 16px;
	font-family: $supportFonts;
	text-transform: uppercase;

	@include breakpoints-max-width(lg) {
		margin-top: 8px;
	}

	@include breakpoints-max-width(md) {
		line-height: 150%;
		font-weight: 200;
	}
}
