@import "/src/scss/global/vars.scss";
@import "/src/scss/global/global.scss";
@import "/src/scss/global/mixin.scss";

.card {
	background-color: $white;
	border: none;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
	transition: transform 0.3s ease;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&:hover {
		transform: translateY(-4px);
	}
}

.image {
	width: 100%;
	height: auto;
	object-fit: cover;
	aspect-ratio: 3 / 4; // ~300x400px
	border-radius: 8px;
	margin-bottom: 12px;

	@include breakpoints-max-width(sm) {
		aspect-ratio: 3 / 3.5;
	}
}

.title {
	font-size: 12px;
	font-weight: 500;
	color: $black;
	margin: 0 0 8px;
	line-height: 1.4;
  padding-left: 12px;
  padding-right: 12px;

	@include breakpoints-max-width(sm) {
		font-size: 14px;
	}
}
.pricebascet {
	display: flex;
	justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}

.price {
	font-size: 16px;
	color: $black;
	margin-bottom: 12px;

	strong {
		font-weight: 600;
	}

	.originalPrice {
		font-size: 14px;
		color: red;
		text-decoration: line-through;
		padding-left: 20px;
		margin-right: 8px;
		font-weight: 400;
	}
}

.button {
	background-color: $black;
	color: $white;
	font-size: 14px;
	padding: 10px 12px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background 0.2s ease;
	text-align: center;
	font-weight: 500;

	&:hover {
		background-color: darken($black, 8%);
	}

	@include breakpoints-max-width(sm) {
		padding: 12px;
		font-size: 16px;
	}
}
