@import "../../../scss/global/vars.scss";

.dropList {
  display: flex;
  flex-direction: row;
    max-width: 1400px;
    gap: 20px;
  }

  .dropTitle {
    font-size: 24px;
    color: $black;
    margin-bottom: 8px;
  }

  .dropPrgf {
    color: $grey;
  }

  .dropBtn {
    width: 100%;
    height: auto;
    background-color: #F7980A;
    color: $white;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
  }

  .dropText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }