@import "/src/scss/global/vars";
@import "/src/scss/global/mixin";

.content {
	position: fixed;
	top: 0;
	width: 100%;
	background: $blue-light;
	z-index: 3;

	@include breakpoints-max-width(md) {
		padding: 0 4px;
	}
}

.actionText {
	padding: 4px 0 3px;
	font-size: 14px;
	color: $white;
	text-align: center;
	background: $black;

	@include breakpoints-max-width(lg) {
		font-size: 10px;
	}

	@include breakpoints-max-width(md) {
		display: none;
	}
}

.mainContent {
	margin-top: 11px;
	display: flex;
	justify-content: space-between;
	gap: 20px;

	@include breakpoints-max-width(md) {
		gap: 10px;
		margin: 0;
		padding: 10px 0 8px;
	}

	&Center {
		display: flex;
		width: 62%;
		justify-content: space-between;
		padding-right: 8px;
		gap: 20px;

		@include breakpoints-max-width(lg) {
			padding-right: 0;
			width: 60%;
		}
	}
}

.logo {
	margin-top: 9px;
	font-size: 24px;
	font-family: $mainFont;
	color: $black;
	font-weight: $regular;
	line-height: 140%;
	letter-spacing: 0.02em;
	text-transform: uppercase;

	@include breakpoints-max-width(lg) {
		font-size: 22px;
	}

	@include breakpoints-max-width(md) {
		font-size: 18px;
		margin-top: 0;
	}
}

.switchLanguage {
	display: flex;
	gap: 6px;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: 14px;
		left: 49%;
		display: flex;
		background-color: $grey;
		width: 2px;
		height: 16px;

		@include breakpoints-max-width(md) {
			top: 5px;
			left: 48%;
			height: 16px;
		}
	}
}

.switchButton {
	color: $grey;
	font-family: $mainFont;
	font-size: 18px;

	&:hover {
		color: $black;

		@include breakpoints-max-width(md) {
			color: $grey;
		}
	}

	@include breakpoints-max-width(lg) {
		font-size: 16px;
	}
}

.searchForm {
	position: relative;

	@include breakpoints-max-width(lg) {
		width: 60%;
	}

	@include breakpoints-max-width(md) {
		display: none;
	}
}

.searchButton {
	position: absolute;
	top: 11%;
	left: 11.5%;

	@include breakpoints-max-width(lg) {
		left: 3%;
	}
}

.searchLabel {
	position: absolute;
	font-size: 16px;
	top: 26%;
	left: 24%;
	opacity: 1;
	transition:
		top 0.5s ease-in-out,
		opacity 0.5s ease-in-out;

	@include breakpoints-max-width(lg) {
		left: 16%;
	}

	&Active {
		top: 9%;
		opacity: 0;
	}
}

.searchInput {
	margin: 4px 0 0 10%;
	padding: 0 10px 0 64px;
	width: 454px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid $black;

	@include breakpoints-max-width(lg) {
		width: 100%;
		margin: 3px 0 0 0;
	}
}

.svgBasket {
	transition: fill 0.5s ease-in-out;

	&:hover {
		fill: $black;
	}
}

.basket {
	position: relative;
	margin: 5px 0 0 60px;

	@include breakpoints-max-width(lg) {
		margin: 5px 0 0 0;
	}

	@include breakpoints-max-width(md) {
		display: none;
	}

	&Count {
		font-size: 12px;
		font-family: $supportFonts;
		font-weight: 500;
		padding: 8px;
		position: absolute;
		top: -6px;
		right: -10px;
		background: $blue-light;
		border-radius: 100%;
	}
}

.registration {
	margin-top: 4px;
	padding: 7px;
	width: 218px;
	color: $white;
	background: $black;
	border-radius: 16px;
	border: 2px solid $black;
	transition:
		color 0.5s ease-in-out,
		background 0.5s ease-in-out;

	@include breakpoints-max-width(lg) {
		width: 180px;
	}

	@include breakpoints-max-width(md) {
		display: none;
	}

	&:hover {
		background: transparent;
		color: $black;
	}
}

.navigate {
	margin-top: 43px;
	padding-bottom: 15px;

	@include breakpoints-max-width(lg) {
		margin-top: 25px;
		padding-bottom: 8px;
	}

	@include breakpoints-max-width(md) {
		padding-bottom: 0;
		margin-top: 0;
	}

	&:after {
		position: absolute;
		left: 0;
		top: 107px;
		content: "";
		display: flex;
		background: $grey-light;
		width: 100%;
		height: 1px;

		@include breakpoints-max-width(lg) {
			top: 90px;
		}

		@include breakpoints-max-width(md) {
			top: 43px;
		}
	}
}

.link {
	transition: color 0.5s ease-in-out;

	@include breakpoints-max-width(lg) {
		font-size: 12px;
	}

	&:hover {
		color: $black;
	}

	&Items {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		@include breakpoints-max-width(md) {
			display: none;
		}
	}

	&Item {
		position: relative;
		//width: 100%;
		//text-align: center;

		&:hover {
			&:after {
				transform: scaleX(1);
				transform-origin: left;
			}
		}

		&:after {
			content: "";
			position: absolute;
			top: 36px;
			left: -4%;
			display: flex;
			width: 110%;
			height: 2px;
			background: $black;
			transform: scaleX(0);
			transform-origin: right;
			transition: transform 0.5s ease-in-out;

			@include breakpoints-max-width(lg) {
				top: 26px;
				height: 1px;
				width: 90%;
				left: 5%;
			}
		}
	}
}

.burgerItem {
	background: $grey;
	width: 100%;
	height: 2px;
}

.burgerButton {
	display: none;

	@include breakpoints-max-width(md) {
		position: absolute;
		top: 15px;
		right: 23px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		width: 26px;
		transition:
			top 1.3s ease-in-out,
			rotate 0.5s ease-in-out;
	}
}
