// @import "/src/scss/global/global.scss";

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
  }