.hero {
  position: relative;
  height: 630px;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  .background {
    position: absolute;
    inset: 0;
    z-index: 1;
  
    img {
      width: 140%;
      height: 140%; 
      object-fit: contain;
      margin-top: 180px;
      object-position: right;   

    }
  }
  

  .content {
    z-index: 10;
    max-width: 800px;
    height: 418px;
    padding: 187px 20px;
    transition: background 0.5s ease-in-out;
    

    h1 {
      width: 857px;
      font-size: 88px;
      color: var(--heading-color, #383838);
    }

    p {
      width: 772px;
      margin-top: 10px;
      font-size: 28px;
      color: var(--text-color, #444);
    }

   
  }

  .bgText {
    position: fixed;
    bottom: 5%;
    left: 5%;
    font-size: 80px;
    color: var(--bg-text-color, rgba(225, 218, 218, 0.525));
    pointer-events: none; 
  }
  
}
